*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

/* first page */

.one{
    background-color: rgb(50, 47, 47);
    padding-bottom: 20px;
}

.first{
    font-size: 4vh;
    text-align: center;
    color: rgb(228, 228, 9);
    text-transform: capitalize;
}

.first span{
    color: rgb(228, 228, 9);
    text-transform: lowercase;
}

.second{
    text-align: center;
    font-size: 2vh;
    margin-top: 1vh;
}

.img{
    text-align: center;
    margin-top: 2vh;
}

.img img{
    height: 70vh;
    width: 80vh;
}

.offer{
    background-color: red;
    color: white;
    height: 5rem;
    width: 30rem;
    text-align: center;
    margin: auto;
    margin-top: 3vh;
    border-radius: 5px;
    padding: 15px;
}

.offer1{
    display: flex;
    align-items: center;
    gap: 10px;
}

.offer p span{
    text-decoration: line-through;
}

.line{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 2vh;
}

.line p{
    color: rgb(221, 221, 141);;
}

.line p span{
    color: red;
}

.clock{
    text-align: center;
    height: 40vh;
    width: 30%;
    margin: auto;
    margin-top: 3vh;
}

.showTime{
    display: flex;
    justify-content: center;
    gap: 0.5vh;
}

.box{
    background-color: rgb(152, 149, 149);
    height: 30px;
    width: 50px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: rgb(228, 228, 9);
}

.word{
    display: flex;
    justify-content: center;
    gap: 0.5vw;
    padding: 10px;
}

.box1{
    margin-bottom: 90%;
    padding-bottom: 40px; 
    padding-left: 20px;
} 

.learning{
    text-align: center;
    margin-top: -20vh;
}

.learn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.learn i{
    color: darkgoldenrod;
    font-size: 30px;
}

.sentences{
    margin-top: 2vh;
    display: flex;
    align-items: center;
    gap: 2vh;
    margin-left: 15vh;
}

.sentences i{
    color: rgb(231, 231, 50);
    font-size: 30px;
}

.sentences p{
    font-size: 1.5rem;
}

.sentences p span{
    color: rgb(231, 231, 50);
}

.one-bottom{
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 30px;
    margin-top: 5rem;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.access{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.access p{
    color: black;
    font-size: 1.5rem;
}

.access span{
    color: black;
}

/* second page */
.two{
    background-color: black;
    height: 20vh;
    padding: 20px;
}

.two h1{
    text-align: center;
    font-size: 2.5rem;
}

.two p{
    text-align: center;
    font-size: 2rem;
    color: rgb(228, 228, 9);
}

.two h1 span{
    color: rgb(228, 228, 9);
}

/* third page */
.three{
    height: 100vh;
    width: 100%;
    background-color: white;
    padding: 10px;
    margin-top: 20px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card{
    background-color: rgb(250, 237, 245);
    height: 40vh;
    width: 50vh;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.card h1{
    font-size: 8vh;
    color: red;
}

.card i{
    font-size: 30px;
    color: rgb(8, 162, 8);
    margin-top: 2vh;
}

.card p{
    font-size: 4vh;
    color: black;
}

.btn{
    font-size: 4vh;
    background-color: red;
    color: white;
    height: 6.5vh;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
}

.timestamp{
    color: black;
}

/* fourth page */

.four{
    height: auto;
    width: 100vw;
    background-image: url(./images/page4bg.png);
    background-size: cover;
}

.head{
    padding: 25px;
}

.head h1{
    text-align: center;
    font-size: 3rem;
    color: black;
}

.people-card{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.card-thoughts{
    background-color: white;
    height: 30vw;
    width: 20vw;
    padding: 20px;
    border-radius: 10px;
    overflow-y: scroll;
}

.card-thoughts::-webkit-scrollbar{
    display: none;
}

.imgPeople{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgPeople img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.name-people{
    padding-top: 20px;
}

.name-people h4{
    color: black;
}

.info-people{
    padding-top: 10px;
    padding-right: 10px;
}

.info-people span{
    color: black;
    background-color: yellow;
}

.info-people p{
    color: black;
}

/* Fifth page*/
.five{
    height: auto;
    padding: 30px;
    width: 100%;
    background-color: white;
}

.five-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
    gap: 25px;
}

.card-five{
    height: 45vh;
    width: 80vh;
    background-color: rgb(255, 238, 255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 10px;
}

.card-five img{
    height: 5vh;
    width: 5vh;
}

.content-card-five{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-card-five .headline{
    font-size: 5vh;
    color: black;
}

.content-card-five .headline span{
    color: red;
}

.content-card-five p b{
    color: black;
}

.content-card-five p{
    color: black;
    font-size: 3.2vh;
}

/* sixth page started */
.six{
    background-color: rgb(215, 227, 239);
    padding: 20px;
    height: auto;
    width: 100%;
}

.six-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px;
}

.six-card-container img{
    height: 500px;
    width: 400px;
}

.sub-card-six{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub-card-six h3{
    color: black;
    font-size: 6vh;
}

.sub-card-six h1{
    font-size: 6vh;
    color: red;
}

.sub-card-six p{
    color: black;
    font-size: 3.5vh;
    word-spacing: 5px;
}

 /* 
 Media query started
 Media Query for Tablet for min width 768px and max width 950px
 */
@media screen and (min-width: 768px)and (max-width: 950px) {
    .first{
        font-size: 3.5vh;
    }

    .second{
        font-size: 2vh;
    }
    
    .img img{
        height: 40vh;
        width: 60vh;
    }

    .box{
        height: 50px;
        width: 70px;
        font-size: 18px;
    }

    .box1{
        font-size: 19px;
    }
    
    .learning{
        margin-top: -25vh;
    }

    .sentences{
        word-break: break-word;
        margin-left: 10vh;
    }

    .one-bottom{
        width: 85%;
    }

    .access p{
        font-size: 1.5rem;
    }

    .two{
        height: 14vh;
    }

    .two h1{
        font-size: 2.3rem;
    }
    
    .two p{
        font-size: 1.8rem;
    }

    .card{
        height: 20vh;
        width: 40vh;
    }

    .card h1{
        font-size: 3vh;
    }

    .card i{
        font-size: 3vh;
    }

    .card p{
        font-size: 2.5vh;
    }

    .btn{
        height: 4vh;
        font-size: 2vh;
    }

    .head{
        padding: 5vh;
    }
    
    .head h1{
        font-size: 2rem;
    }
    
    .people-card{
        flex-direction: column;
    }
    
    .card-thoughts{
        height: 25vh;
        width: 60vh;
    }

    .name-people{
        padding: 2px;
    }

    .name-people h4{
        font-size: 3vh;
    }

    .info-people p{
        font-size: 1.8vh;
    }

    .card-five{
        height: 40vh;
        width: 75vh;
    }

    .card-five .headline{
        font-size: 4vh;
    }

    .card-five p{
        font-size: 3vh;
    }

    .six-card-container{
        flex-direction: column;
    }
    
    .sub-card-six h3{
        font-size: 4vh;
    }
    
    .sub-card-six h1{
        font-size: 5vh;
    }
    
    .sub-card-six p{
        color: black;
        font-size: 3vh;
        word-spacing: 3px;
    }
    
}


/* Tablet media query for min 1024px and max 1280px*/
@media screen and (min-width: 1024px) and (max-width: 1280px){
    .first{
        font-size: 3.5vw;
    }

    .second{
        font-size: 2vw;
    }
    
    .img img{
        height: 40vw;
        width: 60vw;
    }

    .box{
        width: 80px;
        font-size: 20px;
    }

    .box1{
        font-size: 25px;
    }
    
    .learning{
         margin-top: -18vh; 
    }

    .sentences p{
        font-size: 2.5vw;
    }

    .one-bottom{
        width: 85%;
    }

    .access p{
        font-size: 2rem;
    }

    .two h1{
        font-size: 2.2rem;
    }
    
    .two p{
        font-size: 1.7rem;
    }
}

/* Media queries for min 280px and max 393px*/
@media screen and (min-width: 280px) and (max-width: 425px){
    .first{
        font-size: 2.5vh;
    }

    .second{
        font-size: 2vh;
    }
    
    .img img{
        height: 25vh;
        width: 80vw;
    }

    .offer{
        height: 9vh;
        width: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .offer1 h1{
        font-size: 2vh;
    }
    
    .offer1{
        flex-direction: column;
    }

    .btn{
        width: 90%;
        height: 4vh;
        font-size: 1.5vh;
        font-weight: 600;
    }
    
    .line{
        font-size: 2vh;
    }

    .box{
        height: 30px;
        width: 50px;
        font-size: 2vh;
    }

    .box1{
        font-size: 2vh;
    }

    .learning{
         margin-top: -20vh; 
    }

    .sentences{
        margin-left: 5vh;
    }

    .sentences p{
        font-size: 2.5vh;
        word-break: break-word;
    }

    .one-bottom{
        height: 30vh;
        width: 65vw;
        flex-direction: column;
    }

    .access p{
        font-size: 2vh;
    }

    .access span{
        font-size: 1.5vh;
    }

    .two{
        height: 18vh;
    }

    .two h1{
        font-size: 1.2rem;
    }
    
    .two p{
        font-size: 1rem;
    }

    .card{
        height: 18vh;
        width: 35vh;
        padding: 5px;
    }

    .card h1{
        font-size: 2vh;
    }

    .card p{
        font-size: 1.5vh;
    }
    
    .head{
        padding: 2vh;
    }
    
    .head h1{
        font-size: 2vh;
    }
    
    .people-card{
        flex-direction: column;
    }
    
    .card-thoughts{
        height: 30vh;
        width: 35vh;
    }

    .imgPeople img{
        height: 50px;
        width: 50px;
    }
    
    .name-people{
        padding-top: 2px;
        font-size: 2vh;
    }
    
    .info-people{
        padding-top: 2px;
        padding-right: 2px;
        font-size: 1.7vh;
    }

    .card-five{
        flex-direction: column;
    }

    .content-card-five .headline{
        font-size: 2.5vh;
    }

    .content-card-five p{
        font-size: 2vh;
    }

    .six-card-container{
        flex-direction: column;
    }

    .six-card-container img{
        height: 250px;
        width: 200px;
    }
    
    .sub-card-six h3{
        font-size: 4vh;
    }
    
    .sub-card-six h1{
        font-size: 5vh;
    }
    
    .sub-card-six p{
        color: black;
        font-size: 3vh;
        word-spacing: 3px;
    }
    
}

/* Media queries for min 430px and max 550px*/
@media screen and (min-width: 430px) and (max-width: 550px){
    .first{
        font-size: 3vh;
    }

    .second{
        font-size: 2vh;
    }
    
    .img img{
        height: 30vh;
        width: 80vw;
    }

    .offer{
        height: 10vh;
        width: 90vw;
        padding: 10px;
    }
    
    .line{
        font-size: 2.5vh;
    }

    .clock{
        margin-top: 5vh;
    }

    .box{
        width: 60px;
        font-size: 15px;
    }

    .box1{
        font-size: 15px;
    }
    
    .learning{
         margin-top: -15vh; 
    }

    .sentences{
        margin-left: 5vh;
    }

    .sentences p{
        font-size: 2.5vh;
        word-break: break-word;
    }

    .one-bottom{
        height: 10vh;
        width: 85vw;
    }

    .access p{
        font-size: 2vh;
    }

    .access span{
        font-size: 1.5vh;
    }
    
    .two h1{
        font-size: 2rem;
    }
    
    .two p{
        font-size: 1.5rem;
    }

    .card{
        height: 18vh;
        width: 50vh;
        padding: 2px;
    }

    .card h1{
        font-size: 2.5vh;
    }

    .card p{
        font-size: 1.5vh;
    }

    .btn{
        width: 80%;
        height: 4vh;
        font-size: 1.5vh;
        font-weight: 600;
    }
    
    
    .head{
        padding: 4vh;
    }
    
    .head h1{
        font-size: 4vh;
    }
    
    .people-card{
        flex-direction: column;
    }
    
    .card-thoughts{
        height: 35vh;
        width: 55vh;
    }

    .imgPeople img{
        height: 100px;
        width: 100px;
    }
    
    .name-people{
        padding-top: 5px;
        font-size: 3vh;
    }
    
    .info-people{
        padding-top: 5px;
        padding-right: 5px;
        font-size: 2vh;
    }

    .card-five{
        flex-direction: column;
    }

    .content-card-five .headline{
        font-size: 4vh;
    }

    .six-card-container{
        flex-direction: column;
    }

    .six-card-container img{
        height: 300px;
        width: 250px;
    }
    
    .sub-card-six p{
        font-size: 3vh;
    }
}

